<%- include header.html %>
<div class="col-xs-12">
	<ul class="list-unstyled">
<% var lastYear = 0 %>
<% posts.forEach(function (post, index) { %>
  <% if (lastYear != post.time.year) { %>
    <li><h3><%= post.time.year %></h3></li>
  <% lastYear=post.time.year } %>
  <li><h5><%= post.time.day %></h5></li>
  <li><i class="ace-icon fa fa-caret-right blue"></i> <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
<% }) %>
</ul>
</div>

<%- include footer.html %>