</div>
<div class="clearfix"></div>
<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
			<span class="bigger-120">
				<h4>Powered by <a class="red" href="jia58960.me" target="_blank">jia58960</a> 
				Engined by <a href="nodejs.org" class="purple">Node.JS</a>/<a class="green" href="http://expressjs.com/">Express</a>/<a href="http://www.mongodb.com/" class="blue">MongoDB</a> © 2013-2014 </h4>
			</span>
			<span class="action-buttons">
				<a href="#">
					<i class="ace-icon fa fa-weibo light-blue bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-qq text-primary bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-weixin orange bigger-150"></i>
				</a>
			</span>
		</div>
	</div>
</div>
</body>
</html>