</div>
<div class="clearfix"></div>
<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
			<span class="bigger-120">
				Powered by <a class="red" href="jia58960.me" target="_blank">jia58960</a> 
				Engined by <a href="nodejs.org" class="purple">Node.JS</a>/<a class="green" href="http://expressjs.com/">Express</a>/<a href="http://www.mongodb.com/" class="blue">MongoDB</a> © 2013-2014 
			</span>
			<span class="action-buttons">
				<a href="#">
					<i class="ace-icon fa fa-weibo light-blue bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-qq text-primary bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-weixin orange bigger-150"></i>
				</a>
			</span>
		</div>
	</div>
</div>
<script charset="utf-8" src="/KindEditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/KindEditor/lang/zh_CN.js"></script>
<script type="text/javascript">
var editor;
KindEditor.ready(function(K) {
  editor = K.create('textarea', {
  allowImageUpload : false,
  items : [
    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
    'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
    'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
  });
});
</script>
</body>
</html>