<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Blog</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/ace.min.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome-4.1.0/css/font-awesome.min.css">
	
</head>
<body class="no-skin">

	<div id="navbar" class="navbar navbar-default">
			<div class="navbar-container" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							NodeJS简易博客系统
						</small>
					</a>
				</div>

			</div><!-- /.navbar-container -->
	</div>
		<div class="main-container">

			<div id="sidebar" class="sidebar responsive">
				<ul class="nav nav-list">
					<li class="active">
						<a href="/">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> 首页 </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="hsub">
						<a href="/archive" class="dropdown-toggle">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text"> 存档 </span>
						</a>

					</li>

					<li class="hsub">
						<a href="/tags" class="dropdown-toggle">
							<i class="menu-icon fa fa-tags"></i>
							<span class="menu-text"> 标签 </span>
						</a>
						
					</li>
					
					<li class="">
						<a href="/links">
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text"> 友链 </span>
						</a>

						<b class="arrow"></b>
					</li>
					
					<% if (user) { %>
					<li class="hsub">
						<a href="/upload" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text"> 上传 </span>
						</a>
					</li>

					<li class="hsub">
						<a href="/post" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text"> 发表文章 </span>
						</a>
					</li>
					<li class="hsub">
						<a href="/logout" class="dropdown-toggle">
							<i class="menu-icon fa fa-sign-out"></i>
							<span class="menu-text"> 退出 </span>
						</a>
					</li>
				<% } else {%>
			
					<li class="hsub">
						<a href="/login" class="dropdown-toggle">
							<i class="menu-icon fa fa-sign-in"></i>
							<span class="menu-text"> 登录 </span>
						</a>
					</li>

					<li class="hsub">
						<a href="/reg" class="dropdown-toggle">
							<i class="menu-icon fa fa-user"></i>
							<span class="menu-text"> 注册 </span>
						</a>
					</li>
				<% } %>					
				</ul><!-- /.nav-list -->		
			</div>
			
			<div class="page-content">

				<div class="page-header">
					<h1>
						首页
						<small>
							<i class="ace-icon fa fa-angle-double-right"></i>
							文章列表
						</small>
					</h1>
				</div>
			</div>
			
			<% if (success) { %>
			<div class="alert alert-block alert-success">
								<button type="button" class="close" data-dismiss="alert">
									<i class="ace-icon fa fa-times"></i>
								</button>

								<i class="ace-icon fa fa-check green"></i>
								<strong class="green">
									<%= success %>
									
								</strong>,
	
							</div>
			  
			<% } %>
			<% if (error) { %>
			  <div class="alert alert-block alert-error">
								<button type="button" class="close" data-dismiss="alert">
									<i class="ace-icon fa fa-times"></i>
								</button>

								<i class="ace-icon fa fa-times red"></i>
								<strong class="red">
									<%= error %>
									
								</strong>,
	
							</div>
			<% } %>