<%- include header.html %>
  <div class="col-xs-12">
    <% posts.forEach(function (post, index) { %>
  <p>
    <h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
  <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head" /></a></p>

  <p class="info">
    作者：<a class="label label-primary arrowed arrowed-right" href="/u/<%= post.name %>"><i class="fa fa-user"></i> <%= post.name %></a> |
    日期：<%= post.time.minute %>
    标签：
  <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
      <a class="label label-success arrowed" href="/tags/<%= tag %>"><i class="fa fa-tag"></i> <%= tag %></a>
    <% } %>
  <% }) %>
  </p>

  <p><%- post.post %></p>
  <p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
  <% }) %>
  </div>

<%- include paging.html %>
<%- include footer.html %>