<%- include header.html %>
<div class="col-xs-3">
	<div id="login-box" class="login-box visible widget-box no-border">
  <div class="widget-body">
    <div class="widget-main">
      <h4 class="header blue lighter bigger">
        <i class="ace-icon fa fa-coffee green">
        </i>
        Please Enter Your Information
      </h4>
      <div class="space-6">
      </div>
      <form method="post">
        <fieldset>
          <label class="block clearfix">
            <span class="block input-icon input-icon-right">
                <input type="text" class="form-control" placeholder="Username" name="name">
                <i class="ace-icon fa fa-user">
                </i>
            </span>
          </label>
          <label class="block clearfix">
            <span class="block input-icon input-icon-right">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <i class="ace-icon fa fa-lock">
                </i>
            </span>
          </label>
          <div class="space">
          </div>
          <div class="clearfix">
            <label class="inline">
              <input type="checkbox" class="ace">
                  <span class="lbl">
                      记住我
                  </span>
            </label>
            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
              <i class="ace-icon fa fa-key">
              </i>
                  <span class="bigger-110">
                      登 录
                  </span>
            </button>
            
          </div>
          <div class="space-4">
          </div>
        </fieldset>
      </form>
      <div class="social-or-login center">
          <span class="bigger-110">
              通过以下网站登录
          </span>
      </div>
      <div class="space-6">
      </div>
      <div class="social-login center">
        <a class="btn btn-primary">
          <i class="ace-icon fa fa-facebook">
          </i>
        </a>
        <a class="btn btn-info">
          <i class="ace-icon fa fa-twitter">
          </i>
        </a>
        <a class="btn btn-danger">
          <i class="ace-icon fa fa-google-plus">
          </i>
        </a>
      </div>
    </div>
  </div>
  <!-- /.widget-body -->
</div>
</div>

<%- include footer.html %>

